<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{styles/createEmployee.css}">
</head>
<body class="text-center">
<main class="container mt-5">
    <form class="form-create-employee" th:action="@{/employees}" th:object="${createEmployee}" method="post"
          enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input class="form-control" id="firstname-input" type="text" th:field="*{firstname}"/>
            <label for="firstname-input">Firstname:</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="lastname-input" type="text" th:field="*{lastname}"/>
            <label for="lastname-input">Lastname:</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="birthday-input" type="date" th:field="*{birthday}"/>
            <label for="birthday-input">Birthday:</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="image" type="file" id="formFile"/>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">ADD</button>
    </form>
</main>
</body>
</html>
