<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
<form th:action="@{/employees}" th:object="${createEmployee}" method="post">
    <label>Firstname:</label>
    <input type="text" th:field="*{firstname}"/>
    <br/>
    <label>Lastname:</label>
    <input type="text" th:field="*{lastname}"/>
    <br/>
    <label>Birthday:</label>
    <input type="date" th:field="*{birthday}"/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>