<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/updateEmployee.css}">
</head>
<body class="text-center">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Employee Administration</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto mb-2 mb-md-0"></div>
            <div class="d-flex">
                <a class="btn btn-sm btn-outline-secondary me-2" href="/">Home</a>
                <a class="btn btn-sm btn-outline-secondary me-2" href="/employees">Employees List</a>
                <a class="btn btn-sm btn-outline-secondary me-2" href="/create-employee">Create Employee</a>
            </div>
        </div>
    </div>
</nav>

<main class="container mt-5">
    <form class="form-create-employee" th:action="@{/employees/update}" th:object="${updateEmployee}" method="post"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4">
                <div id="personal">
                    <h4>Personal Information</h4>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{id_image}">
                    <input type="hidden" th:field="*{personnelNumber}">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="firstname-input" type="text" th:field="*{firstname}"/>
                        <label for="firstname-input">Firstname:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="lastname-input" type="text" th:field="*{lastname}"/>
                        <label for="lastname-input">Lastname:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="birthday-input" type="date" th:field="*{birthday}"/>
                        <label for="birthday-input">Birthday:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select form-select-sm" aria-label="Sex" th:field="*{sex}">
                            <option selected th:value="*{sex}">Select sex</option>
                            <option th:value="'M'" th:text="Male"></option>
                            <option th:value="'F'" th:text="Female"></option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="children-count-input" type="text" th:field="*{childrenCount}"/>
                        <label for="children-count-input">Children count:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control form-control-sm" name="image" type="file" id="image-input"/>
                        <label for="image-input" class="p-2">Profile picture:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div id="professional">
                    <h4>Professional information</h4>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cnaps-number-input" type="text" th:field="*{cnapsNumber}"/>
                        <label for="cnaps-number-input">Cnaps Number:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select form-select-sm" aria-label="Socio-professional Category"
                                th:field="*{socioProfessionalCategory}">
                            <option selected th:value="*{socioProfessionalCategory}">Select Socio-professional Category
                            </option>
                            <option th:value="'MANAGERS'" th:text="MANAGERS"></option>
                            <option th:value="'INTERMEDIATE_PROFESSIONS'" th:text="INTERMEDIATE_PROFESSIONS"></option>
                            <option th:value="'EMPLOYEES'" th:text="EMPLOYEES"></option>
                            <option th:value="'WORKERS'" th:text="WORKERS"></option>
                            <option th:value="'UNSKILLED'" th:text="UNSKILLED"></option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="start-date-input" type="date"
                               th:field="*{startDate}"/>
                        <label for="start-date-input">Start date:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="departure-date-input" type="date"
                               th:field="*{departureDate}"/>
                        <label for="departure-date-input">Departure date:</label>
                    </div>
                </div>
                <div id="cin">
                    <h4>CIN information</h4>
                    <input type="hidden" th:field="*{cinId}">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cin-number-input" type="text" th:field="*{cinNumber}"/>
                        <label for="cin-number-input">Cin number:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cin-delivery-date-input" type="date"
                               th:field="*{cinDeliveryDate}"/>
                        <label for="cin-delivery-date-input">Cin delivery date:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cin-delivery-place-input" type="text"
                               th:field="*{cinDeliveryPlace}"/>
                        <label for="cin-delivery-place-input">Cin delivery place:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div id="address">
                    <h4>Address</h4>
                    <input type="hidden" th:field="*{addressId}">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="address-house-input" type="text" th:field="*{addressHouse}"/>
                        <label for="address-house-input">House:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="address-street-input" type="text" th:field="*{addressStreet}"/>
                        <label for="address-street-input">Street:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="address-city-input" type="text" th:field="*{addressCity}"/>
                        <label for="address-city-input">City:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="address-zipcode-input" type="text" th:field="*{addressZipCode}"/>
                        <label for="address-zipcode-input">ZipCode:</label>
                    </div>
                </div>
                <div id="contact">
                    <h4>Contact</h4>
                    <input type="hidden" th:field="*{professionalEmailId}">
                    <input type="hidden" th:field="*{personalEmailId}">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="professional-email-input" type="text"
                               th:field="*{professionalEmail}"/>
                        <label for="professional-email-input">Professional email address:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="personal-email-input" type="text" th:field="*{personalEmail}"/>
                        <label for="personal-email-input">Personal email address:</label>
                    </div>
                </div>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">UPDATE</button>
    </form>
</main>
</body>
</html>
